POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=address_base

# MongoDB Configuration
MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=leases
MONGO_COLLECTION=leases
MONGO_COLLECTION_EXT=leasesext

# T5 Model Configuration
T5_MODEL_PATH=~/workspaces/workspace1/lease-data-foundation/t5_model/trained_t5

# GOV.UK Land Property Data API
GOVUK_API_KEY=

