POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=address_base

# MongoDB Configuration
MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=leases
MONGO_COLLECTION=leases
MONGO_COLLECTION_EXT=leasesext

# GOV.UK Land Property Data API
GOVUK_API_KEY=

