notebook
ipykernel
ipywidgets
# Location Analytics Dependencies
pymongo>=4.6.0
python-dotenv>=1.0.0
pandas>=2.1.0
matplotlib>=3.8.0
shapely>=2.0.2
pyproj>=3.6.0
rtree>=1.1.0
tqdm>=4.66.0
geopandas>=0.14.0
seaborn>=0.13.2
scipy>=1.17.1